h1 {
    color: black;
}

#intro {
    text-align: center;
    border: 2px solid;
    margin: 10px;
}

img {
    width: 100px;
}

canvas {
    border: 5px solid #999;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}